extends layout

block content  

        div.kabout
            | Это -- некое подобие клавиатурного тренажера. Всё просто. Смотрите на экран, нащупываете нужным пальцем нужную клавишу... Если не ошиблись определённо число раз -- надпись на экранной кнопке исчезнет. Удачи!

        script(src='/javascripts/train_control.js')


