extends layout

block content  

        div.random_letter
          p Ы
        div.keyboard_row
        div.keyboard_row
        div.keyboard_row
        script(src='/javascripts/train_script.js')

