extends default

block content
  div.container
    div.main_menu 
      div.button_menu(url('/kpage')) 
        a(href=`/ktest`)
          | Туда
      div.button_menu(url('/kpage')) 
        a(href=`/kpage`)
          | Сюда
